<a href="https://colab.research.google.com/github/hasan-rakibul/AI-cybersec/blob/main/Lab%202/lab_2_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## Functions and seeking help

In [ ]:
# Importing modules
import numpy as np

In [ ]:
# Defining functions
def add_numbers(x, y):
  "Adds two numbers and returns the result."
  return x + y

def count_words(string):
  """
  Counts the number of words in a string.
  """
  words = string.split()
  return len(words)

In [ ]:
add_numbers(4, 5)

In [ ]:
help(add_numbers)

In [ ]:
words = 'ICT607 lab 2'.split()
print(words)

In [ ]:
len(words)

In [ ]:
count_words('ICT607 lab 2')

In [ ]:
np.array([2, 5])

In [ ]:
help(np.array)

## Data structures

In [ ]:
my_list = [10, 21, 30, 41, 50]
my_tuple = ('a', 'b', 'c', 'd', 'e')
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_array = np.array([11, 22, 33, 44, 55])

In [ ]:
my_list

In [ ]:
[1, 'one']

In [ ]:
my_tuple

In [ ]:
(1, 'one')

In [ ]:
my_dict

In [ ]:
my_dict.keys()

In [ ]:
my_dict['name']

In [ ]:
my_array

In [ ]:
my_array[0]

In [ ]:
np.array([1, 'one'])

## Control structures

In [ ]:
for num in my_list:
  if num % 2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

In [ ]:
while count_words(input("Enter a sentence: ")) < 5:
  print("Please enter a sentence with at least 5 words.")

# Data visualisation

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
print(my_list)
print(my_array)

In [ ]:
plt.plot(my_list, my_array)
plt.title("A Plot of My List and My Array")
plt.xlabel("My List")
plt.ylabel("My Array")
plt.grid()
plt.xlim(-10, 60)
plt.ylim(-10, 60)
plt.show()

In [ ]:
help(plt.plot)

In [ ]:
plt.plot(my_list, my_array, 'rh:')

# NumPy

In [ ]:
# Importing the required libraries
import numpy as np

In [ ]:
# Creating a NumPy array of random values

arr = np.random.randn(100)

In [ ]:
arr

In [ ]:
help(np.random.randn)

In [ ]:
# Computing the mean and standard deviation of the array

mean = np.mean(arr)
std_dev = np.std(arr)

In [ ]:
# Printing the mean and standard deviation

print("Mean:", mean)
print("Standard deviation:", std_dev)

In [ ]:
# Creating a NumPy array of integers

arr_int = np.array([1, 2, 3, 4, 5])

In [ ]:
# Performing element-wise arithmetic operations on the array

add_arr = arr_int + 5
sub_arr = arr_int - 2
mult_arr = arr_int * 3
div_arr = arr_int / 2

In [ ]:
# Printing the result of each operation

print("Addition:", add_arr)
print("Subtraction:", sub_arr)
print("Multiplication:", mult_arr)
print("Division:", div_arr)

# Pandas

In [ ]:
# Importing the required libraries

import pandas as pd

In [ ]:
# Creating a dictionary with some sample data

data = {'Name': ['John', 'Jane', 'Bob', 'Alice'],
        'Age': [25, 30, 40, 35],
        'Gender': ['Male', 'Female', 'Male', 'Female'],
        'Salary': [50000, 60000, 80000, 70000]}

In [ ]:
# Creating a pandas DataFrame from the dictionary

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
# Printing the DataFrame

print("Original DataFrame:")
print(df)
print(df.head(2))
print(df.tail(2))

In [ ]:
# Selecting a subset of columns

df_subset = df[['Name', 'Salary']]

In [ ]:
# Printing the subset DataFrame

print("\nSubset DataFrame:")
print(df_subset)

In [ ]:
df.loc[0, 'Name']

In [ ]:
df.iloc[2, 3]

In [ ]:
df

In [ ]:
df.iloc[1:3, 1:]

In [ ]:
df['Age'] >= 30

In [ ]:
# Filtering rows based on a condition

df_filtered = df[df['Age'] >= 30]

In [ ]:
# Printing the filtered DataFrame

print("\nFiltered DataFrame:")
print(df_filtered)

In [ ]:
# Grouping the DataFrame by a column and calculating statistics

df_grouped = df.groupby('Gender').mean()

In [ ]:
# Printing the grouped DataFrame

print("\nGrouped DataFrame:")
print(df_grouped)

In [ ]:
# Sorting the DataFrame by a column

df_sorted = df.sort_values('Age')

In [ ]:
# Printing the sorted DataFrame

print("\nSorted DataFrame:")
print(df_sorted)

# Data manipulation and cleaning

In [ ]:
# Importing the required libraries

import pandas as pd
from scipy.stats import zscore

In [ ]:
help(zscore)

In [ ]:
# Creating a sample dataset

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Emily', 'Frank'],
    'Age': [25, 30, 35, 40, 45, 50],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M'],
    'Income': [50000, 60000, 70000, 80000, np.nan, np.nan]
}

df = pd.DataFrame(data)

In [ ]:
# Printing the initial dataframe

print("Initial DataFrame:")
print(df)

In [ ]:
# Removing null values
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
# Filling missing values with the mean of the column
df.fillna(df.mean(numeric_only=True), inplace=True)

In [ ]:
df

In [ ]:
# Adding a new column to the dataframe

df['Age_Group'] = pd.cut(df['Age'], bins=[18, 30, 40, 50], labels=['18-30', '31-40', '41-50'])

In [ ]:
help(pd.cut)

In [ ]:
df

In [ ]:
# Computing the z-score of the income column

df['Income_zscore'] = zscore(df['Income'])

In [ ]:
df

In [ ]:
# Grouping the dataframe by the gender and age group columns and computing the mean income

grouped_df = df.groupby(['Gender', 'Age_Group'])['Income'].mean().reset_index()

In [ ]:
# Printing the final grouped dataframe

print("Final Grouped DataFrame:")
print(grouped_df)